In [1]:
import requests
import pandas as pd
from datetime import date

In [2]:
# get json for today

with open("data_source.txt", "r") as data_source:
    url = data_source.readline()

resp = requests.get(url.strip())

In [3]:
today_data = resp.json()['data']
today_data

[{'AgeGroup': '0-9', 'Cases': 1302},
 {'AgeGroup': '10-19', 'Cases': 2215},
 {'AgeGroup': '20-29', 'Cases': 1566},
 {'AgeGroup': '30-39', 'Cases': 1553},
 {'AgeGroup': '40-49', 'Cases': 1447},
 {'AgeGroup': '50-59', 'Cases': 739},
 {'AgeGroup': '60-69', 'Cases': 398},
 {'AgeGroup': '70-79', 'Cases': 158},
 {'AgeGroup': '80-89', 'Cases': 63},
 {'AgeGroup': '90+', 'Cases': 25}]

In [4]:
df_today = pd.json_normalize(today_data)
df_today

  AgeGroup  Cases
0      0-9   1302
1    10-19   2215
2    20-29   1566
3    30-39   1553
4    40-49   1447
5    50-59    739
6    60-69    398
7    70-79    158
8    80-89     63
9      90+     25

In [5]:
# store today's data (for all ages) in csv

date_str = date.today().isoformat()
df_today.to_csv("../data/daily csvs/" + date_str + ".csv")

In [6]:
# now open CSV containing all dates

df_all = pd.read_csv("../data/cases_0_19.csv", index_col = 0)

In [7]:
df_all.tail()

          date  cases_0_9  cases_10_19
78  2022-02-26       1169         1599
79  2022-02-27       1091         1385
80  2022-03-01       1881         2706
81  2022-03-02       1926         2904
82  2022-03-03       1694         2773

In [8]:
today = date.today()

df_all = df_all.append({'date': today.isoformat(), 'cases_0_9': df_today.loc[0, 'Cases'], 
                          'cases_10_19': df_today.loc[1, 'Cases']}, ignore_index = True)

In [9]:
df_all.tail()

          date  cases_0_9  cases_10_19
79  2022-02-27       1091         1385
80  2022-03-01       1881         2706
81  2022-03-02       1926         2904
82  2022-03-03       1694         2773
83  2022-03-04       1302         2215

In [10]:
df_all.to_csv("../data/cases_0_19.csv")