In [1]:
import requests
import pandas as pd
from datetime import date

In [2]:
url = "https://nswdac-covid-19-postcode-heatmap.azurewebsites.net/datafiles/agedata_1days.json"
resp = requests.get(url)

In [3]:
today_data = resp.json()['data']
today_data

[{'AgeGroup': '0-9', 'Cases': 1687},
 {'AgeGroup': '10-19', 'Cases': 3779},
 {'AgeGroup': '20-29', 'Cases': 9218},
 {'AgeGroup': '30-39', 'Cases': 5367},
 {'AgeGroup': '40-49', 'Cases': 3484},
 {'AgeGroup': '50-59', 'Cases': 2716},
 {'AgeGroup': '60-69', 'Cases': 1640},
 {'AgeGroup': '70-79', 'Cases': 680},
 {'AgeGroup': '80-89', 'Cases': 265},
 {'AgeGroup': '90+', 'Cases': 80}]

In [4]:
df_today = pd.json_normalize(today_data)
df_today

  AgeGroup  Cases
0      0-9   1687
1    10-19   3779
2    20-29   9218
3    30-39   5367
4    40-49   3484
5    50-59   2716
6    60-69   1640
7    70-79    680
8    80-89    265
9      90+     80

In [5]:
date_str = date.today().isoformat()
df_today.to_csv("../data/" + date_str + ".csv")