In [1]:
import requests
import pandas as pd
from datetime import date

In [2]:
with open("data_source.txt", "r") as data_source:
    url = data_source.readline()

resp = requests.get(url.strip())

In [3]:
today_data = resp.json()['data']
today_data

[{'AgeGroup': '0-9', 'Cases': 1143},
 {'AgeGroup': '10-19', 'Cases': 1837},
 {'AgeGroup': '20-29', 'Cases': 3989},
 {'AgeGroup': '30-39', 'Cases': 3018},
 {'AgeGroup': '40-49', 'Cases': 2066},
 {'AgeGroup': '50-59', 'Cases': 1680},
 {'AgeGroup': '60-69', 'Cases': 962},
 {'AgeGroup': '70-79', 'Cases': 468},
 {'AgeGroup': '80-89', 'Cases': 247},
 {'AgeGroup': '90+', 'Cases': 108}]

In [4]:
df_today = pd.json_normalize(today_data)
df_today

  AgeGroup  Cases
0      0-9   1143
1    10-19   1837
2    20-29   3989
3    30-39   3018
4    40-49   2066
5    50-59   1680
6    60-69    962
7    70-79    468
8    80-89    247
9      90+    108

In [5]:
date_str = date.today().isoformat()
df_today.to_csv("../data/" + date_str + ".csv")