In [1]:
import requests
import pandas as pd
from datetime import date

In [2]:
# get json for today

with open("data_source.txt", "r") as data_source:
    url = data_source.readline()

resp = requests.get(url.strip())

In [3]:
today_data = resp.json()['data']
today_data

[{'AgeGroup': '0-9', 'Cases': 507},
 {'AgeGroup': '10-19', 'Cases': 562},
 {'AgeGroup': '20-29', 'Cases': 873},
 {'AgeGroup': '30-39', 'Cases': 773},
 {'AgeGroup': '40-49', 'Cases': 595},
 {'AgeGroup': '50-59', 'Cases': 504},
 {'AgeGroup': '60-69', 'Cases': 323},
 {'AgeGroup': '70-79', 'Cases': 188},
 {'AgeGroup': '80-89', 'Cases': 87},
 {'AgeGroup': '90+', 'Cases': 24}]

In [4]:
df_today = pd.json_normalize(today_data)
df_today

  AgeGroup  Cases
0      0-9    507
1    10-19    562
2    20-29    873
3    30-39    773
4    40-49    595
5    50-59    504
6    60-69    323
7    70-79    188
8    80-89     87
9      90+     24

In [5]:
# store today's data (for all ages) in csv

date_str = date.today().isoformat()
df_today.to_csv("../data/daily csvs/" + date_str + ".csv")

In [6]:
# now append to CSV containing all dates

df_all = pd.read_csv("../data/cases_0_19.csv", index_col = 0)

In [7]:
df_all.tail()

          date  cases_0_9  cases_10_19
48  2022-01-26       1238         1183
49  2022-01-27       1021          894
50  2022-01-28        511          467
51  2022-01-29        747          691
52  2022-01-30        765          740

In [8]:
today = date.today()

df_all = df_all.append({'date': today.isoformat(), 'cases_0_9': df_today.loc[0, 'Cases'], 
                          'cases_10_19': df_today.loc[1, 'Cases']}, ignore_index = True)

In [9]:
df_all.tail()

          date  cases_0_9  cases_10_19
49  2022-01-27       1021          894
50  2022-01-28        511          467
51  2022-01-29        747          691
52  2022-01-30        765          740
53  2022-01-31        507          562

In [10]:
df_all.to_csv("../data/cases_0_19.csv")