In [1]:
import pandas as pd
from datetime import date, timedelta

In [2]:
# open each CSV, from first date (5/12/21) to today, and put the 0-9 and 10-19 cases into a dataframe, df_all
# df_all will contain one line per date; each date will have 0-9 cases and 10-19 cases
# note: cron job picked up previous date's cases on 8/12/21 & 16/12/21, so I deleted those CSVs and they won't be found

first = date(2021, 12, 5)
today = date.today()

df_all = pd.DataFrame(columns = ['date', 'cases_0_9', 'cases_10_19'])

curr = first

while (curr < today):
    
    file_path = "../data/daily csvs/" + curr.isoformat() + ".csv"
    try:
        df_curr = pd.read_csv(file_path, index_col = 0)
        df_all = df_all.append({'date': curr.isoformat(), 'cases_0_9': df_curr.iloc[0,1], 'cases_10_19': df_curr.iloc[1,1]}, ignore_index = True)
    except FileNotFoundError:
        print("No data for " + curr.isoformat())
    curr = curr + timedelta(days = 1)

No data for 2021-12-08
No data for 2021-12-16
No data for 2022-01-22
No data for 2022-01-23

In [3]:
df_all.tail()

          date cases_0_9 cases_10_19
42  2022-01-18      1593        1723
43  2022-01-19      1938        2083
44  2022-01-20      1808        1823
45  2022-01-21      2110        2356
46  2022-01-24       993         888

In [4]:
df_all.to_csv("../data/cases_0_19.csv")