In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/all_ages_so_far.csv")

In [16]:
# confirm correct reading of CSV

print(df.head())
df.shape

  notification_date       age_group
0        2021-06-29   AgeGroup_0-19
1        2021-06-29   AgeGroup_0-19
2        2021-06-29   AgeGroup_0-19
3        2021-06-29  AgeGroup_20-24
4        2021-06-29  AgeGroup_20-24

(585003, 2)

In [17]:
# extract all rows, all ages, in Term 4 (from 5 Oct to 17 Dec)

df_term4 = df[(df['notification_date'] >= '2021-10-05') & (df['notification_date'] <= '2021-12-17')]

In [18]:
# confirm that selected number of rows matches how many I saw in CSV

df_term4.shape

(29728, 2)

In [19]:
# confirm that df_term4 contains 74 unique dates (that's the number of days from 5 Oct to 17 Dec)

df_term4['notification_date'].value_counts().shape

(74,)

In [20]:
# extract all 0-19 cases within Term 4
# count how many there were

df_term4_0_19 = df_term4[df_term4['age_group'] == 'AgeGroup_0-19']
df_term4_0_19.shape

(9997, 2)

In [21]:
# confirm that correct number of 0-19 rows was extracted from Term 4

df_term4['age_group'].value_counts()

AgeGroup_0-19     9997
AgeGroup_20-24    4178
AgeGroup_25-29    3294
AgeGroup_30-34    2627
AgeGroup_35-39    2134
AgeGroup_40-44    1794
AgeGroup_45-49    1431
AgeGroup_50-54    1170
AgeGroup_70+       976
AgeGroup_55-59     881
AgeGroup_60-64     719
AgeGroup_65-69     527
Name: age_group, dtype: int64

In [22]:
# do it all again in reverse i.e. slice by age group first, then by date range, to confirm 9997 0-19 cases in Term 4

df_term4_0_19_check = df[df['age_group'] == 'AgeGroup_0-19']
df_term4_0_19_check = df_term4_0_19_check[(df_term4_0_19_check['notification_date'] >= '2021-10-05') & (df_term4_0_19_check['notification_date'] <= '2021-12-17')]
df_term4_0_19_check.shape

(9997, 2)

In [23]:
# now that 9997 is confirmed, compute percentage of all Term 4 cases that were aged 0-19

num_0_19 = df_term4_0_19.shape[0]
num_all_ages = df_term4.shape[0]

num_0_19/num_all_ages * 100

33.6282292787944